.wrapper {
	display: flex;
	position: relative;
	align-items: center;
}

.root {
	margin: 0;
	padding: 1.2rem;

	border: 1px solid var(--gray-01);
	border-radius: 1rem;

	font-family: inherit;
	color: var(--gray-02);
	font-weight: bold;

	&:hover,
	&:focus {
		box-shadow: 0px 0px 2px rgba(92, 135, 219, 0.5);
		border: 1px solid var(--primary);
	}

	&::placeholder {
		color: var(--gray-01);
	}
}

.withIcon {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	padding-inline: 4.1rem 1.2rem;
}

.icon {
	position: absolute;
	top: 50%;
	left: 1.2rem;

	transform: translateY(-50%);

	fill: var(--gray-02);
}

.fill {
	fill: var(--primary);
}